[Unit]
Description=Random wallpaper changer for Hyprland
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=oneshot
ExecStart=%h/.local/bin/random-wallpaper.sh
Restart=no

[Install]
WantedBy=graphical-session.target
